.cask
games
custom.el
var/*
!var/project-persist
var/project-persist/*
!var/project-persist/.gitkeep
!var/.gitkeep
themes/*
!themes/.gitkeep
auto-save-list
.project
%backup%~
tramp
ac-comphist.dat
geben
elpa
elpy
transient
*.log
.cache/
.lsp*
lsp-cache/
/url
